@media screen and (max-width: 420px){
  .row {
    width: 100%;
    margin: 0;
  }

  #lezioni .row > .left , #lezioni .row > .right , #steps .row > .left , #steps .row > .central , #steps .row > .right{
  width: 100%;
  float: none;
  }
  .row div img {
    width: 50%;
    height: auto;
    padding: 20px;
  }

  #why .row > .first , #why .row > .second , #why .row > .third {
    margin-top: 0;
    margin-bottom: 30px;
  }

  #why .row img {
    width: 30%;
    height: auto;
  }
  #why h1 , #steps h1{
    padding: 30px;
  }
}
